<h2>Hi Admin <%= user.name %></h2>

<%- include('_layouts/header') -%>
<main>
    <h1>List of Order: </h1>
    <table class="contact-list">
        <thead>
            <th>carrots</th>
            <th>lemon</th>
            <th>onion</th>
            <th>whitePotato</th>
            <th>redPotato</th>
            <th>redPepper</th>
            <th>yellowPepper</th>
            <th>radish</th>
            <th>flatCabbage</th>
            <th>redCabbage</th>
            <th>zucchini</th>
            <th>eggPlant</th>
            <th>greenBeans</th>
            <th>whiteCarrot</th>
            <th>mint</th>
            <th>delivery</th>
            <th>subtotal</th>
            <th>tax</th>
            <th>total</th>
            <th colspan="2">Manage</th>
        </thead>
        <tbody>
            <% contacts.forEach(function(contact){
                %>
            <tr>
                <td><%= contact.carrots %></td>
                <td><%= contact.lemon %></td>
                <td><%= contact.onion %></td>
                <td><%= contact.whitePotato %></td>
                <td><%= contact.redPotato %></td>
                <td><%= contact.redPepper %></td>
                <td><%= contact.yellowPepper %></td>
                <td><%= contact.radish %></td>
                <td><%= contact.flatCabbage %></td>
                <td><%= contact.redCabbage %></td>
                <td><%= contact.zucchini %></td>
                <td><%= contact.eggPlant %></td>
                <td><%= contact.greenBeans %></td>
                <td><%= contact.whiteCarrot %></td>
                <td><%= contact.mint %></td>
                <td><%= contact.delivery %></td>
                <td><%= contact.subtotal %></td>
                <td><%= contact.tax %></td>
                <td><%= contact.total %></td>

                <td><a href="/allorders/edit/<%= contact._id %>">Edit</a></td>
                <td><a href="/allorders/delete/<%= contact._id %>">Delete</a></td>
             
            </tr>
            <% }); %>
        </tbody>
    </table>
</section>
</main>
<%- include('_layouts/footer') -%>