<%- include('_layouts/header') -%>
<main>
    <section>
        <h1>Thank you for submitting the form <%= name %>!</h1>
        <h2>We will contact you on your email <%=email %>
            <br> or your phone: <%= phone %></h2>
        <br><br>
    </section>
</main>
<%- include('_layouts/footer') -%>