<%- include('_layouts/header') -%>
<main>
    <section>
        <h1>Edit Contact</h1>
        <form method="post" action="/allcontacts/edit/<%= contact._id %>">
            <div class="form-field">
                <label for="name">Name:</label>
                <input type="text" class="form-input" name="name" value="<%= contact.name %>">
            </div>
            <div class="form-field">
                <label for="email">email:</label>
                <input type="text" class="form-input" name="email" value="<%= contact.email %>">
            </div>
            <div class="form-field">
                <label for="password">password:</label>
                <input type="text" class="form-input" name="password" value="<%= contact.password %>">
            </div>
            <div class="form-field">
                <label for="city">City:</label>
                <input type="text" class="form-input" name="city" value="<%= contact.city %>">
            </div>
            <div class="form-field">
                <label for="province">province:</label>
                <input type="text" class="form-input" name="province" value="<%= contact.province %>">
            </div>
            <div class="form-field">
                <label for="phone">Phone:</label>
                <input type="text" class="form-input" name="phone" value="<%= contact.phone %>">
            </div>
            <div class="form-field">
                <input type="submit" class="form-submit" value="Submit">
            </div>
        </form>
    </section>
</main>
<% if(typeof errors !== 'undefined'){
    for(var error of errors){
        %>
        <h3><%= error.msg %></h3>
        <%
    }
}
%>
<%- include('_layouts/footer') -%>