<%- include('_layouts/header') -%>
<main>
    <section>
        <p></p>
        <h1> <p>Here is Your Invoice  <%= name %> ... </h1>
        <br></br>      
        <p>carrots @ $ .40 per piece : $ <%= carrots %></p>
        <p>lemon @ $ .50 per piece : $ <%= lemon %></p>
        <p>apple @ $ .60 per piece : $ <%= apple %></p>
        <p>whitePotato @ $ .70 per piece : $ <%= whitePotato %></p>
        <p>melon @ $ .80 per piece : $ <%= melon %></p>
        <p>redPepper @ $ .60 per piece : $ <%= redPepper %></p>
        <p>yellowPepper @ $ .70 per piece : $ <%= yellowPepper %></p>
        <p>kiwi @ $ .50 per piece : $ <%= kiwi %></p>
        <p>flatCabbage @ $ .50 per piece : $ <%= flatCabbage %></p>
        <p>orange @ $ .60 per piece : $ <%= orange %></p>
        <p>banana @ $ .70 per piece : $ <%= banana %></p>
        <p>eggPlant @ $ .90 per piece : $ <%= eggPlant %></p>
        <p>mango @ $ .40 per piece : $ <%= mango %></p>
        <p>whiteCarrot @ $ .50 per piece : $ <%= whiteCarrot %></p>
        <p>pomegranate @ $ .99 per piece : $ <%= pomegranate %></p>
        <p>Shipping Charges : $ <%= delivery %></p>
        <p>Sub Total : $ <%= subtotal %></p>
        <p>Taxes @ 13% : $ <%= tax %></p>
       <h1><p>Total : $ <%= total %></p></h1>
       <br/><br/>
       <h2> <p>We have send You an email with bill details  <%= name %> </h2>
        <br/><br/>

    </section>
</main>
<%- include('_layouts/footer') -%>