<%- include('_layouts/header') -%>
<main>
    <section>
        <p></p>
        <h1> <p>Here is Your Invoice  <%= name %> ... </h1>
        <br></br>      
        <p>carrots @ $ .40 per piece : $ <%= carrots %></p>
        <p>lemon @ $ .50 per piece : $ <%= lemon %></p>
        <p>onion @ $ .60 per piece : $ <%= onion %></p>
        <p>whitePotato @ $ .70 per piece : $ <%= whitePotato %></p>
        <p>redPotato @ $ .80 per piece : $ <%= redPotato %></p>
        <p>redPepper @ $ .60 per piece : $ <%= redPepper %></p>
        <p>yellowPepper @ $ .70 per piece : $ <%= yellowPepper %></p>
        <p>radish @ $ .50 per piece : $ <%= radish %></p>
        <p>flatCabbage @ $ .50 per piece : $ <%= flatCabbage %></p>
        <p>redCabbage @ $ .60 per piece : $ <%= redCabbage %></p>
        <p>zucchini @ $ .70 per piece : $ <%= zucchini %></p>
        <p>eggPlant @ $ .70 per piece : $ <%= eggPlant %></p>
        <p>greenBeans @ $ .70 per piece : $ <%= greenBeans %></p>
        <p>whiteCarrot @ $ .70 per piece : $ <%= whiteCarrot %></p>
        <p>mint @ $ .70 per piece : $ <%= mint %></p>
        <p>Shipping Charges : $ <%= delivery %></p>
        <p>Sub Total : $ <%= subtotal %></p>
        <p>Taxes @ 13% : $ <%= tax %></p>
       <h1><p>Total : $ <%= total %></p></h1>
       <br/><br/>
       <h2> <p>We have send You an email with bill details  <%= name %> </h2>
        <br/><br/>

    </section>
</main>
<%- include('_layouts/footer') -%>