<%- include('_layouts/header') -%>
<main>
    <section>
        <p></p>
        <h1> <p>Thank you for register with us here is Your Information</p></h1>
        <p></p>
        <p>Name: <%= name %></p>
        <p>Email:  <%= email %></p>
        <p>Phone:  <%= phone %></p>
        <p>Delivery Address: <%= address %></p>
        <p>City: <%= city %></p>
        <p>Province: <%= province %></p>
    </section>
</main>
<%- include('_layouts/footer') -%>